{% extends 'base.html.twig' %}

{% block title %} {{ 'Profile edit'|trans }}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row m-5">
        <div class="bg-light">
            <div class="row">
                <div class="col-12 text-center m-3">
                    <h3>{{ 'User profile edit'|trans }}</h3>
                </div>
            </div>
            <div class="container">
                {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div class="mb-3">
                        {{ form_label(form.avatar) }}
                        {{ form_widget(form.avatar) }}
                        {{ form_help(form.avatar) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="mb-3">
                        {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-outline-primary'}}) }}
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
