{% extends 'base.html.twig' %}

{% block title %}{{ user.userIdentifier ~ "'s Profile" }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    {{ parent()  }}
    <div class="row m-sm-4">
        <div class="bg-light rounded-3">
            <div class="row m-3">
                <img class="avatar avatar-128 bg-light rounded-circle text-white p-2 border-0" src="{{ user.avatarUrl }}"/>
                <div class="col">
                    <h1>{{ user.userIdentifier }}</h1>
                    {% if app.user %}
                        {% if app.user.id == user.id %}
                            <button type="button" class="btn btn-outline-primary">Edit profile</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mt-4 bg-light">
            <h3>Reviews</h3>
            {% if app.user %}
                {% if app.user.id == user.id or "ROLE_ADMIN" in app.user.roles %}
                    <button title="Create review" class="btn btn-outline-primary">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                {% endif %}
            {% endif %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Review name</th>
                        <th scope="col">Group</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Likes</th>
                        <th scope="col">Comments</th>
                        {% if app.user and app.user.id == user.id %}
                            <th scope="col">Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for review in user.reviews %}
                        <tr>
                            <th scope="row">{{ review.name }}</th>
                            <td>{{ review.reviewGroup }}</td>
                            <td>{{ review.rating }}</td>
                            <td>{{ review.likes|length }}</td>
                            <td>{{ review.comments|length }}</td>
                            <td>{{ include('review/_author_buttons.html.twig', {review: review}) }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
