{% extends 'base.html.twig' %}

{% block title %}{{ user.userIdentifier ~ "'s Profile" }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    {{ parent()  }}
    <div class="row m-sm-4">
        <div class="bg-light rounded-3">
            <img class="avatar avatar-128 bg-light rounded-circle text-white p-2" src="{{ user.avatarUrl }}"/>
            <div class="mx-5">
                <h1>{{ user.userIdentifier }}</h1>
            </div>
        </div>
    </div>
{% endblock %}
