{% extends 'base.html.twig' %}

{% block title %}{{ user.userIdentifier ~ "'s Profile" }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block body %}
    {{ parent()  }}
    <div class="row m-sm-4">
        <div class="bg-light rounded-3">
            <div class="row m-3">
                <img class="avatar avatar-128 bg-light rounded-circle text-white p-2" src="{{ user.avatarUrl }}"/>
                <div class="col">
                    <h1>{{ user.userIdentifier }}</h1>
                    {% if app.user is not null %}
                        {% if app.user.id == user.id %}
                            <button type="button" class="btn btn-outline-primary">Edit profile</button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
