{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{ parent() }}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

{#    {% if app.user %}#}
{#        <div class="mb-3">#}
{#            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#        </div>#}
{#    {% endif %}#}
    <div class="m-5">
        <div class="row text-center bg-light">
            <h1 class="h3 font-weight-normal">Please sign in</h1>
            <p>We support only socials authorization</p>
            <input id="fblogin" onclick="facebook_login()" type="button" class="btn btn btn-primary" value="Login with Facebook">
        </div>
    </div>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function facebook_login(){
            location.replace("{{ path('connect_facebook_start') }}");
        }
    </script>
{% endblock %}
