{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    {{ parent() }}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{ 'Username'|trans }}</th>
                <th scope="col">{{ 'E-Mail'|trans }}</th>
                <th scope="col">{{ 'Reg. Date'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>
                        <a href="{{ path('profile', {id: user.id}) }}">
                            <div>
                                {{ user.userIdentifier }}
                            </div>
                        </a>
                    </td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.registerDate|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
