{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.css" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col m-5 bg-light rounded-5">
                <div class="m-3">
                    {{ form_start(form) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.reviewGroup) }}
                    {{ form_row(form.tags) }}
                    {{ form_row(form.rating) }}
                    {{ form_row(form.text) }}
                    <input class="btn btn-primary mb-2" type="submit" value="Submit">
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/js/star-rating.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-star-rating@4.1.2/themes/krajee-svg/theme.js"></script>
{% endblock %}