{% extends 'base.html.twig' %}

{% block title %}Review: {{ review.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/review.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row m-3 bg-light">
            <div class="m-3">
                <div id="name">
                    <h3>{{ review.name }}</h3>
                </div>
                <div id="tags">
                    {% for tag in review.tags %}
                        <a style="text-decoration: none;" href="{{ path('app_tag', {'tag': tag}) }}">
                            <span class="badge rounded-pill bg-secondary">{{ tag }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row m-3 bg-light">
            <div class="col-auto border-0">
                {{ include('get/_avatar.html.twig', {avatar_url: review.author.avatarUrl}) }}
            </div>
            <div class="col mt-4">
                <div class="row">
                    <div class="col">
                        <a style="color: inherit; text-decoration: inherit;" href="{{ path('profile', {id: review.author.id }) }}">
                            {{ review.author.userIdentifier }}
                        </a>
                    </div>
                    <div class="col">
                        <div class="float-end">
                            {{ include('review/_author_buttons.html.twig', {review: review}) }}
                        </div>
                    </div>
                </div>
                <div class="mt-3" id="rating">
                    <h6>{{ 'User rating'|trans }}: {{ review.rating }}★</h6>
                </div>
                <div id="text">
                    <p>{{ review.text|markdown_to_html }}</p>
                </div>
                <div class="row mb-3" id="review_footer">
                    <div id="post_date">
                        <p class="text-muted">{{ review.creationTime|format_datetime('medium', 'short') }}</p>
                    </div>
                    <div class="col-auto" id="likebtn">
                        {% if app.user is not null %}
                            <button class="btn btn-outline-primary" onclick="likeReview()">
                                <a id="likes_count">{{ review.likes|length }}</a>
                                {% if app.user.id not in review.likes %}
                                    <i id="heart" class="fa-regular fa-heart"></i>
                                {% else %}
                                    <i id="heart" class="fa-solid fa-heart"></i>
                                {% endif %}
                            </button>
                        {% else %}
                            <a>
                                {{ review.likes|length }}
                                <i id="heart" class="fa-regular fa-heart"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-3 bg-light">
            {% if app.user is not null %}
                <div class="m-2" id="comment_field">
                    {{ form_start(comment) }}
                        {{ form_errors(comment) }}
                        <h3>{{ 'Comment'|trans }}</h3>
                        {{ form_widget(comment.text) }}
                        <input type="submit" class="btn btn-primary mt-3" value="{{ 'Leave comment'|trans }}">
                    {{ form_end(comment) }}
                </div>
                <div id="comments_section">
                    {% for comment in review.comments %}
                        <div class="row border-top border-bottom">
                            <div class="col-auto border-0">
                                {{ include('get/_avatar.html.twig', {avatar_url: comment.author.avatarUrl}) }}
                            </div>
                            <div class="col mt-4 mb-3 me-3">
                                <a class="fw-bold" style="color: inherit; text-decoration: inherit;" href="{{ path('profile', {id: comment.author.id}) }}">
                                    {{ comment.author.userIdentifier }}
                                </a>
                                <div class="col">
                                    {{ comment.text }}
                                </div>
                                <div class="col">
                                    <p class="text-muted">
                                        {{ comment.postdate|format_datetime('medium', 'short') }}
                                    </p>
                                    {% if app.user.id == comment.author.id %}
                                        <button class="btn btn-outline-danger remove_comment" value="{{ comment.id }}">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
            {% endif %}
        </div>
    </div>
    {{ include('review/_modal.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/review.js') }}"></script>
    <script>
        $(document).ready(function (){
            $('.remove_comment').click(function () {
                let commentId = $(this)[0].attributes['value'].value;
                let parentDiv = $(this).parent()
                    .parent()
                    .parent();
                parentDiv[0].innerHTML = "<p class='text-center mt-3'>{{ 'Comment has been removed.'|trans }}</p";
                jQuery.ajax({
                    url: '/comment/' + commentId + "/remove",
                    success: function (data) {
                        console.log(data);
                    }
                });

            });
        });
        function likeReview(){
            let likes = $('#likes_count');
            $.ajax({
                url: '{{ path('review_like', {id: review.id}) }}',
                method: 'POST',
                success: function (data, status, xhttp) {
                    likes.text(data.new_count);
                }
            });
            let element = $("#heart")[0];
            if(element.classList.contains('fa-regular')){
                likes.text(parseInt(likes.text()) + 1);
                element.classList.remove('fa-regular');
                element.classList.add('fa-solid');
            } else if(element.classList.contains('fa-solid')){
                likes.text(parseInt(likes.text()) - 1);
                element.classList.remove('fa-solid');
                element.classList.add('fa-regular');
            }
        }
    </script>
{% endblock %}
