{% extends 'base.html.twig' %}

{% block title %}Review: {{ review.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/review.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row m-3 bg-light">
            <div class="m-3">
                <div id="name">
                    <h3>{{ review.name }}</h3>
                </div>
                <div id="tags">
                    {% for tag in review.tags %}
                        <a style="text-decoration: none;" href="{{ path('app_tag', {'tag': tag}) }}">
                            <span class="badge rounded-pill bg-secondary">{{ tag }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row m-3 bg-light">
            <div class="col-auto border-0">
                {{ include('get/_avatar.html.twig', {avatar_url: review.author.avatarUrl}) }}
            </div>
            <div class="col mt-4">
                <div class="row">
                    <div class="col">
                        <a style="color: inherit; text-decoration: inherit;" href="{{ path('profile', {id: review.author.id }) }}">
                            {{ review.author.userIdentifier }}
                        </a>
                    </div>
                    <div class="col">
                        <div class="float-end">
                            {{ include('review/_author_buttons.html.twig', {review: review}) }}
                        </div>
                    </div>
                </div>
                <div class="mt-3" id="rating">
                    <h6>{{ 'User rating'|trans }}: {{ review.rating }}★</h6>
                </div>
                <div id="text">
                    <p>{{ review.text|markdown_to_html }}</p>
                </div>
                <div class="row mb-3" id="review_footer">
                    <div id="post_date">
                        <p class="text-muted">{{ review.creationTime|format_datetime('medium', 'short') }}</p>
                    </div>
                    <div class="col-auto" id="likebtn" {{ stimulus_controller('review-like', {
                        requestUrl: path('review_like', { id: review.id })
                    })}}>
                        {% if app.user is not null %}
                            <button class="btn btn-outline-primary" {{ stimulus_action('review-like', 'like')}}>
                                <a id="likes_count" {{ stimulus_target('review-like', 'count') }}>{{ review.likes|length }}</a>
                                {% if app.user.id not in review.likes %}
                                    <i id="heart" class="fa-regular fa-heart"></i>
                                {% else %}
                                    <i id="heart" class="fa-solid fa-heart"></i>
                                {% endif %}
                            </button>
                        {% else %}
                            <a>
                                {{ review.likes|length }}
                                <i id="heart" class="fa-regular fa-heart"></i>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-3 bg-light">
            {% if app.user is not null %}
                <div class="m-2" id="comment_field">
                    {{ form_start(comment) }}
                        {{ form_errors(comment) }}
                        <h3>{{ 'Comment'|trans }}</h3>
                        {{ form_widget(comment.text) }}
                        <input type="submit" class="btn btn-primary mt-3" value="{{ 'Leave comment'|trans }}">
                    {{ form_end(comment) }}
                </div>
                <div id="comments">
                    {% for comment in review.comments %}
                        <div class="row border-top border-bottom" {{ stimulus_controller('comments', {
                            requestUrl: path('remove_comment', { id: comment.id }),
                        }
                        )}}>
                            <div class="col-auto border-0">
                                {{ include('get/_avatar.html.twig', {avatar_url: comment.author.avatarUrl}) }}
                            </div>
                            <div class="col mt-4 mb-3 me-3">
                                <a class="fw-bold" style="color: inherit; text-decoration: inherit;" href="{{ path('profile', {id: comment.author.id}) }}">
                                    {{ comment.author.userIdentifier }}
                                </a>
                                <div class="col">
                                    {{ comment.text }}
                                </div>
                                <div class="col">
                                    <p class="text-muted">
                                        {{ comment.postdate|format_datetime('medium', 'short') }}
                                    </p>
                                    {% if app.user.id == comment.author.id %}
                                        <button class="btn btn-outline-danger remove_comment" {{ stimulus_action('comments', 'remove') }} value="{{ comment.id }}">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
            {% endif %}
        </div>
    </div>
    {{ include('review/_modal.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
