{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row bg-light m-5 rounded-3">
        <div class="col m-3">
            {% if results|length != 0 %}
                <div class="text-center">
                    <h2>{{ 'Search results'|trans }}</h2>
                    <p>{{ 'At the request'|trans }} <strong>"{{ query }}"</strong> {{ 'the following reviews were found'|trans }}:</p>
                </div>
                {{ include('main/_reviews.html.twig', {reviews: results}) }}
            {% else %}
                <h3>{{ 'Nothing was found.'|trans }}</h3>
            {% endif %}
        </div>
    </div>

{% endblock %}
